{% extends 'base.html.twig' %}

{% block title %}Hello ZebreController!{% endblock %}

{% block body %}
<style>
  .backgroundzebre {
    background-image:url('/projet_Joffrine/public/img/fond_zébre.jpg');
    background-repeat:no-repeat;
    background-size:cover;
  }

</style>
<div>
    <div class="backgroundzebre">
    </div>
    <div>
        <div>
            <h2>A propos</h2>
        </div> 
        <div>
            <h2>Prix</h2>
        </div> 
        <div>
            <h2>Projets</h2>
        </div> 
        <div>
            <h2>Formulaire</h2>
        </div> 
    </div>
</div>    
{% endblock %}
